/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration:none
}

a:visited {
	color: black;
}

a:hover {
	font-style: bold;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body{
	/* max-width: 1140px; */
	max-width: 2040px;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	width: 1140px;
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

main{
	width: 1140px;
}

section {
	margin: 50px 0
}




h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}



.filters{
	display:flex;
	justify-content: center;
}

input[type="radio"]{
	display: none;
}

input[type="radio"].filter + label{
	display: flex;
	height: 50px;
	font-family: 'Syne';
	font-weight: 700;
	/* color: white;
	background-color: #1D6154; */
	color: #1D6154;
	background-color: #FFFEF8;
	margin : 2em 10px;
	min-width: 100px;
	padding : 0px 10px;
	align-items: center;
	justify-content: center;
	border: 1px solid;
	border-radius: 60px ;
}

input[type="radio"].filter:checked + label{
	color: white;
	background-color: #1D6154;
}

footer {
	background-color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 100%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/** PAGE LOGIN **/
.login {
	padding-top: 45px;
	padding-bottom: 50px;
}

.mdpo {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: black;
}

.here {
	font-weight : bold;
}

#login {
	width: 50%;
margin: auto;
}
#login > * {
	text-align: center;
}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.errorMail{
	text-align: center;
	color: red;
	padding-top: 5px;
}


/************Edit mode**********/
.zoneEdit{
	width: 100%;
}

.editMode{
	/* background-size: cover; */
	width: 100%;
	height: 59px;
	display:flex;
	background-color: black;
	text-align: center;
	justify-content: center;
	/* padding: 5px 0px; */
}

#buttonEdition{
	text-align: center;
	color: white;
	background-color: black;
	border:none
}

.Hide{
	display:none;
}

/**********POPUP*****/

.popup{
	display:flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%; height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,.6);
	padding-top: 60px;
	display: none;
}

.popIn{
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid #c9c5C5;
	margin: 5% auto 10% auto;
	width: 630px;
	border-radius: 10px;
	align-items: center;
}

.popTop{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	width: 90%;
}

.close{
	color: black;
	margin: 30px 30px;
}

.close:hover{
	cursor: pointer;
}

h3{
	text-align: center;
	font-size: 25px;
	color: black;
	margin-top: 15px;
}

.popBot{
	display: flex;
	justify-content: center;
}

.popup form {
	text-align: left;
	margin-top:30px;
	width: 420px;
	display: flex;
	flex-direction: column;
}

.popInput {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#pix{
	width: 420px;
	height: 169px;
}


.popup label {
	margin: 2em 0 1em 0;
}

.popup textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* .errorMail{
	text-align: center;
	color: red;
	padding-top: 5px;
} */